{{ form_start( form, { 'action': path('ezpublish_ezdemo_search'), 'attr': { 'class': 'col-md-4 col-xs-6 form-search' } } ) }}
<label class="pull-right" for="{{ form.searchText.vars.id }}">
    <span class="hidden">{{ 'Search'|trans }}</span>
    {{ form_widget( form.searchText, { 'attr': {'class': 'search-query col-md-3', 'placeholder': 'Search text'|trans } } ) }}

    {{ form_widget( form.save, { 'attr': { 'class': 'hide hidden' } } ) }}
</label>
{{ form_end( form ) }}
