{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block navbar %}
    {% set contentId = content.contentInfo.id %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="attribute-header">
    <h1 class="long">Loading content #{{ content.contentInfo.id }}: {{ content.contentInfo.name }}</h1>
</div>

<div>
    {% for identifier, field in content.getFieldsByLanguage() %}
        <h3>{{identifier}}:</h3>
        {{ez_render_field( content, identifier )}}
    {% endfor %}
</div>

<p><a href="{{ path( "eZTestCreateContent", { contentId: content.contentInfo.id } ) }}">Create comment below this content</a></p>
{% endblock %}
