{#
  Displays a place (in a list)
#}
<div class="place-list-item"
    data-place-name="{{ ez_content_name( content ) }}"
    data-place-lat="{{ ez_field_value( content, 'location' ).latitude }}"
    data-place-long="{{ ez_field_value( content, 'location' ).longitude }}">
    <h2>
        <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}">
            {{ ez_content_name( content, 'name' ) }}
        </a>
    </h2>

    <div class="infobox-content">
        <h2>
            <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}">
                {{ ez_content_name( content ) }}
            </a>
        </h2>
        {{ ez_render_field( content, 'image', { 'attr': { 'class': 'place-list-image' }, 'parameters': {'alias' : 'small' } } ) }}
    </div>
    
    <div class="row">
        {% if ez_is_field_empty( content, 'image' ) %}
            <div class="col-md-12">
                {{ ez_render_field( content, 'description' ) }}
            </div>
        {% else %}
            <div class="col-md-3">
                <figure class="place-list-image">
                    {{ ez_render_field( content, 'image', {
                        "template": "eZDemoBundle:fields:ezimage_simple.html.twig",
                        'attr': {'class': 'place-list-image' },
                        'parameters': {'alias' : 'large'} } )
                    }}
                </figure>
            </div>
            <div class="col-md-9">
                {{ ez_render_field( content, 'description' ) }}
            </div>
        {% endif %}

    </div>
    <div class="row col-md-12">
        <a class="place-list-link" href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}"> >> {{ 'more'|trans }}</a>
    </div>
</div>
