{% extends noLayout ? viewbaseLayout : "eZDemoBundle::pagelayout.html.twig" %}

{% block content %}
    <section class="content-view-full">
        <div class="class-blog-post">
            <div class="row">
                <div class="span8">
                    <div class="attribute-header">
                        <h1>{{ ez_render_field( content, "title" ) }}</h1>
                    </div>

                    <div class="attribute-byline">
                        <span class="date">
                            {{ location.contentInfo.publishedDate|localizeddate( 'short', 'short', app.request.locale ) }}
                        </span>

                        <span class="author">{{ author.contentInfo.name }}</span>
                    </div>

                    <div class="attribute-body float-break">
                        {{ ez_render_field( content, 'body' ) }}
                    </div>

                    <div class="attribute-tags">
                        {{ ez_render_field( content, 'tags', {'attr': {'class' : 'tags-wrapper'}} ) }}
                    </div>

                    <div class="attribute-comments">
                        {{ ez_comments_render_content( content.contentInfo ) }}
                    </div>

                    {# This is a call to a subrequest calling legacy code #}
                    {{ render( controller( 'eZDemoBundle:Demo:viewTagRelatedContent', {'location': location} ) ) }}

                </div>

                <div class="span4">
                    <aside>
                        <section class="content-view-aside">
                            {{ render( controller( 'eZDemoBundle:Demo:viewParentExtraInfo', {'location': location} ) ) }}
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
