{# Template parameters:
#    - 'siteaccess'
#    - 'currentLanguage'
#    - 'availableLanguages'
#}

{% if availableLanguages|length > 1 %}
    <div id="lang-selector" class="transition-showed">
        <ul class="lang-select">
            {% for lang in availableLanguages %}
                {% if lang == currentLanguage %}
                    <li class="current">
                        <span class="flag-icon flag-icon-background flag-icon-{{ lang[4:]|lower }}"></span>{{ lang[:3]|lower|capitalize }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ translatedUrls[lang] }}">
                            <span class="flag-icon flag-icon-background flag-icon-{{ lang[4:]|lower }}"></span>{{ lang[:3]|lower|capitalize }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <a href="#lang-selector" class="current-lang">
            <span class="current-language flag-icon flag-icon-background flag-icon-{{ currentLanguage[4:]|lower }}"></span>{{ currentLanguage[:3]|lower|capitalize }}&nbsp;↴
        </a>
    </div>
{% endif %}
